.image-container {
    display: flex;
    justify-content: end;
    width: 100%;
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

@media (max-width: 1440px) {
    
    .image {
        height: 300px;
    }
}
